info html 입니다.
<table>
    <tr>
        <td>번호</td>
        <td>아이디</td>
        <td>패스워드</td>
        <td>이름</td>
        <td>이미지</td>
        <td>휴대폰번호</td>
        <td>이메일</td>
        <td>가입날짜</td>
    </tr>

    <tr>
        <td>{{userlist.dataValues.id}}</td>
        <td>{{userlist.dataValues.userid}}</td>
        <td>{{userlist.dataValues.userpw}}</td>
        <td>{{userlist.dataValues.username}}</td>
        <td>{{userlist.dataValues.gender}}</td>
        <td>{{userlist.dataValues.userimage}}</td>
        <td>{{userlist.dataValues.userdt}}</td>
        <td>{{userlist.dataValues.userdt}}</td>
    </tr>
    <a href ="/board/main_board">메인 페이지로 가기</a>
</table>