{% include "../layout/top.html" %}

<div id="wrap">
    <div id="info_box">
        <div id="info_header">
            <h1>My Info</h1>
        </div>
        <table id="info_table1">
            <tr class="info_tr" style="display:none">
                <td>번호</td>
                <td class="letter_style">{{id}}</td>
            </tr>
            <tr class="info_tr">
                <td>ID</td>
                <td class="letter_style">{{userid}}</td>
            </tr>
            <tr class="info_tr">
                <td>Password</td>
                <td class="letter_style">{{userpw}}</td>
            </tr>
            <tr class="info_tr">
                <td>Name</td>
                <td class="letter_style">{{username}}</td>
            </tr>
            <tr class="info_tr">
                <td>Image</td>
                <td><img id="info_img" src="http://3.36.230.95/{{userimage}}"></td>
            </tr>
            <tr class="info_tr">
                <td>Mobile</td>
                <td class="letter_style">{{mobile}}</td>
            </tr>
            <tr class="info_tr">
                <td>Email</td>
                <td class="letter_style">{{useremail}}</td>
            </tr>
            <tr class="info_tr">
                <td>Date</td>
                <td class="letter_style">{{userdt}}</td>
            </tr>

        </table>
 
        <a class="info_btn board_td" href="/user/info_modify?id={{id}}">Modify</a>
        <a class="info_btn board_td" href="/board/main_board">Main page</a>
    </div>
</div>

{% include "../layout/bottom.html" %}