{% include "../layout/top.html" %}
<div id="wrap">
    <div id="info_box">
        <div id="info_header">
            <h1>My Info</h1>
        </div> 
            <form id="info_modify_form" method="post" action="/user/info_after_modify" enctype="multipart/form-data">
                <table id="info_table">
                    <tr class="info_tr " style="display:none">
                        <td style="display: none">번호</td>
                        <td><input type="text" name="id" class="letter_style" value="{{id}}" style="display:none"></td>
                    </tr>
                    <tr class="info_tr">
                        <td>ID</td>
                        <td><input type="text" name="userid" class="letter_style"  value="{{userid}}" style="border:none"></td>
                    </tr>
                    <tr class="info_tr">
                        <td>Password</td>
                        <td><input type="password" id="pwd1" class="letter_style"  name="userpw" value="{{userpw}}" minlength="6"></td>
                        <td id="pwd1_msg"> </td>
                    </tr>
                    <tr class="info_tr">
                        <td>Password check</td>
                        <td><input type="password" id="pwd2" class="letter_style"  name="userpw_check" value="{{userpw}}" minlength="6"></td>
                        <td id="pwd2_msg"> </td>
                    </tr>
                    <tr class="info_tr">
                        <td>Name</td>
                        <td><input type="text" name="username" class="letter_style"  value="{{username}}" minlength="5"></td>
                    </tr>
                    <tr class="info_tr">
                        <td>Image</td>
                        <td><img id="info_img"  src="http://13.209.126.185:3000/{{userimage}}"></td><br/>
                    </tr>
                        <td id ="speci"></td>
                        <td><input type="file"  class="letter_style info_modify_img" id="img"  name="img" ></td>
                    </tr>
                    <tr class="info_tr">
                        <td>Mobile</td>
                        <td><input type="text" id="mobile" class="letter_style"  name="mobile" value="{{mobile}}" minlength="11"
                                maxlength="11"></td>
                        <td id="mobile_msg"></td>
                    </tr>
                    <tr class="info_tr">
                        <td>Email</td>
                        <td><input type="text" name="useremail" class="letter_style"  value="{{useremail}}" minlength="6"></td>
                    </tr>
                    <tr class="info_tr">
                        <td>Date</td>
                        <td><input type="text" name="userdt" class="letter_style"  value="{{userdt}}" readonly ></td>
                    </tr>
                </table>
                <input type="submit" id="info_modify_submit" class="info_btn board_td" value="Confirm">
                <a class="info_btn board_td" href="/user/info">Back</a>
                <a class="info_btn board_td" href="/board/main_board">Main page</a>
            </form>

            <script type="text/javascript">
                let pwd1 = document.querySelector('#pwd1');
                let pwd2 = document.querySelector('#pwd2');
                let mobile = document.querySelector('#mobile');
                let pwd1_msg = document.querySelector('#pwd1_msg');
                let pwd2_msg = document.querySelector('#pwd2_msg');
                let mobile_msg = document.querySelector('#mobile_msg');

                let submit_btn = document.querySelector('#info_modify_submit');
                let info_modify_form = document.querySelector('#info_modify_form');

                submit_btn.addEventListener('click', () => {
                    if (pwd1.value.length < 6) {
                        pwd1_msg.innerHTML = '패스워드는 최소 6자 이상입니다.';
                        pwd1.focus();
                        pwd1.setAttribute('style', 'background:#FFC8C8');
                    } else if (pwd2.value.length < 6) {
                        pwd2_msg.innerHTML = '패스워드는 최소 6자 이상입니다.';
                        pwd2.focus();
                        pwd2.setAttribute('style', 'background:#FFC8C8');
                    } else if (pwd1.value != pwd2.value) {
                        pwd2_msg.innerHTML = '패스워드가 일치하지 않습니다.';
                        pwd1.focus();
                        pwd1.setAttribute('style', 'background:#FFC8C8');
                        pwd2.setAttribute('style', 'background:#FFC8C8');
                    } else if (mobile.value.length < 11) {
                        mobile_msg.innerHTML = '핸드폰 번호 11자리를 입력해주세요.';
                        mobile.setAttribute('style', 'background:#FFC8C8');
                    } else {
                        info_modify_form.submit();
                    }
                })

                pwd1.addEventListener('focusout', () => {
                    if (pwd1.value.length >= 6) {
                        pwd1_msg.innerHTML = '';
                        pwd2.setAttribute('style', 'background:#fff');
                    }
                })

                pwd2.addEventListener('focusout', () => {
                    if (pwd2.value.length >= 6 && pwd1.value == pwd2.value) {
                        pwd2_msg.innerHTML = '';
                        pwd1.setAttribute('style', 'background:#fff');
                        pwd2.setAttribute('style', 'background:#fff');
                    }
                })

                mobile.addEventListener('focusout', () => {
                    if (mobile.value.length >= 11) {
                        mobile_msg.innerHTML = '';
                        mobile.setAttribute('style', 'background:#fff');
                    }
                })

            </script>
    </div>
</div>
    {% include "../layout/bottom.html" %}