{% include "../layout/top.html" %}
<div id = "wrap" ><img src="">  
    <div id="back">
        <div id="main">
            <div id="main_l" class="main_boxes">
                <img src ="../../images/main.jpg"> 
            </div>
            <div id="main_r" class="main_boxes">
                <div id="main_r_box">
                    <div id="welcome">
                        <h2>Join us! </h2>
                    </div>
                    <form action="/user/join_success" id="login_form" method="post" enctype="multipart/form-data">
                        <table id="join_table">
                            <tr class ="join_tr">
                                <td>Your ID:</td> 
                                <td><input type="text" id="userid" class ="common letter_style" name="userid" minlength=5>
                                    <p id="userid_msg"></p>
                                </td>
                            </tr>
                            <tr class ="join_tr">
                                <td>Password</td> 
                                <td><input type="password" id="userpw"  class ="common letter_style" name="userpw" minlength=6></td>
                            </tr>
                            <tr class ="join_tr">
                                <td>Password check</td>
                                <td><input type="password" id="userpw_check" class ="common letter_style"  minlength =6 ></td>
                            </tr>
                            <tr class ="join_tr">
                                <td>Your name</td> 
                                <td><input type="text" id="username" class ="common letter_style"  name="username" minlength=5 ></td>
                            </tr>        
                            <tr class ="join_tr">
                                <td>Your picture</td>
                                <td><input type="file" id="img" class="letter_style" name="img" ></td>
                            </tr>
                            <tr class ="join_tr">
                                <td>Mobile No.</td>
                                <td>
                                    <input type='text' id="mobile" class ="common letter_style"  name="mobile" minlength=11 maxlength=11>               
                                </td>
                            </tr>
                            <tr class ="join_tr">
                                <td>Email</td>
                                <td>
                                    <input type='text' id="useremail" class ="common letter_style"  name="useremail" >               
                                </td>
                            </tr>
                        </table>
                        <div id="join_button_div">
                            <input type='button' class ="join_button" id="login_submit" value="Confirm">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type="text/javascript">
        let username=document.querySelector('#username')
        let img=document.querySelector('#img')
        let mobile=document.querySelector('#mobile')
        let useremail=document.querySelector('#useremail')
    
    // P A S S W O R D     C H E C K //
        let pwd1 = document.querySelector('#userpw');
        let pwd2 = document.querySelector('#userpw_check');
        const btn = document.querySelector('#login_submit');
        const login_form = document.querySelector('#login_form');
        const userid_msg = document.querySelector('#userid_msg');
        const userid = document.querySelector('#userid')
        const common = document.querySelectorAll('.common');
    
    //  B L O C K I N G      N U L L + P A S S W O R D     C H E C K //    
    btn.addEventListener('click', () => {
        if(userid.value==''){
            alert('아이디를 입력해주세요.');
            userid.setAttribute('style','background:#FFC8C8');
        } else if (pwd1.value.length<6){
            alert('비밀번호 6자리 이상을 입력해주세요.');
            pwd1.value = '';
            pwd1.setAttribute('style','background:#FFC8C8');
        } else if (pwd2.value.length<6){
            alert('비밀번호 6자리 이상을 입력해주세요.');
            pwd2.value = '';
            pwd2.setAttribute('style','background:#FFC8C8');
        }  else if (username.value==''){
            alert('이름을 입력해주세요.');
            username.setAttribute('style','background:#FFC8C8');
        } else if (mobile.value==''){
            alert('핸드폰번호를 입력해주세요.');
            mobile.setAttribute('style','background:#FFC8C8');
        } else if (mobile.value.length<11){
            alert('핸드폰번호 11자리를 입력해주세요.');
            mobile.setAttribute('style','background:#FFC8C8');
        } else if (useremail.value==''){
            alert('이메일 주소를 입력해주세요.');
            useremail.setAttribute('style','background:#FFC8C8');
        } else if (pwd2.value!=pwd1.value){
            alert('비밀번호가 일치하지 않습니다.');
            pwd1.value = '';
            pwd2.value = '';
            pwd1.setAttribute('style','background:#FFC8C8');
            pwd2.setAttribute('style','background:#FFC8C8');
        } else {
            login_form.submit();
        }
    })
//minlength 의 값 가져오는 법 ?? 
    pwd1.addEventListener('focusout',()=>{
        if(pwd1.value.length>=6){pwd1.setAttribute('style','background:#D2F4FF;')}});
    pwd2.addEventListener('focusout',()=>{
        if(pwd2.value.length>=6){pwd2.setAttribute('style','background:#D2F4FF;')}});
    username.addEventListener('focusout',()=>{
        if(username.value!=''){username.setAttribute('style','background:#D2F4FF;')}});
    mobile.addEventListener('focusout',()=>{
        if(mobile.value.length==11){mobile.setAttribute('style','background:#D2F4FF;')}});
    useremail.addEventListener('focusout',()=>{
        if(useremail.value!=''){useremail.setAttribute('style','background:#D2F4FF;')}});


    //ID 중복 쳌 //
    userid.addEventListener('focusout',userid_check);
    async function userid_check(){
        userid.setAttribute('style','background:#D2F4FF');
        let data = await axios.get(`http://3.36.230.95/user/userid_check?userid=${userid.value}`);
     
       // console.log(data.data.login);
        //AJAX 가져옴, 중복:false 중복x: true
        login_flag = data.data.login;
        if(login_flag){
            userid_msg.innerHTML = '올바른 아이디입니다.'
            userid_msg.style.color = 'green'
        }else{
            userid_msg.innerHTML = '중복된 아이디입니다.'
            userid_msg.style.color = 'red'
        }
    }
</script>
{% include "../layout/bottom.html" %}