{% include "../layout/top.html" %}

<div id = "wrap" ><img src="">  
    <div id="back">
        <div id="main">
            <div id="main_l" class="main_boxes">
                <img src ="../images/main_.jpg" >   
            </div>
            <div id="main_r" class="main_boxes">
                <div id="main_r_box">
                    <div id="welcome"><h2>Welcome {{userid}}!</h2></div>
                    <div id="user_p" class ="join_success_user">
                        <img src="http://3.36.230.95/{{userimage}}">
                    </div>
                    <div id="login_box">
                        <button class="loginjoin" id="join_success_btn"><a href="/user/login">Login</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



{% include "../layout/bottom.html" %}