<div id="entire_wrap">
    <div id="sider">
        <h4 id="sider_user">
            Hello, {{login_userid}}
        </h4>
        <h4 id="lovely">
            have a lovely day !
        </h4>
        <div id="sider_user_imgbox">
            <img id="sider_user_img" src="http://localhost:3000/{{userimage}}">
        </div>
        <!-- <div id="sider_user_id">
            <div id="sider_user_id_div">{{login_userid}}</div>
        </div> -->
        <div id="sider_user_info">
            <a id="info_a" href="/user/info">-> Check and Modify <br/> your infomation!</a>
        </div>
        <form method="post" id = "sider_post" action="/user/user_memo">
            <div id="memo">
            <h2>My Memo</h2><a href="/user/heart" id="sider_memo_btn">♡</a>
                <textarea id="sider_memo" name = "sider_memo" placeholder="Write any memo here!" >{{user_memo}}</textarea><br/>
                <input type="button" id="sider_button"  value="save">
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    let sider_button = document.querySelector('#sider_button');
    let sider_memo = document.querySelector('#sider_memo');
    let sider_post = document.querySelector('#sider_post');

    sider_button.addEventListener('click', blink)

    async function blink(){
        await setTimeout(white,100);
        await yellow()
    } 
    function yellow(){
        sider_memo.setAttribute('style', 'background:lightgrey');
        sider_post.submit();
    }
    
    function white(){
        sider_memo.setAttribute('style', 'background:white');
    }



</script>