<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>NO.</td>
            <td>제목</td>
            <td>글쓴이</td>
            <td>내용</td>
            <td>날짜</td>
            <td>좋아요</td>
            <td>조회수</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>            
            <td></td>
        </tr>
    </table>
    <a href = "/board/write"> 글쓰기 </a>

</body>
</html>