<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if flag=='0' %}
    <script type="text/javascript">
        alert('글쓰기는 회원만 가능합니다.')
    </script>
    {% endif %}
    <h2>MAIN PAGE</h2>
    <table>
        <tr>
            <td>NO.</td>
            <td>제목</td>
            <td>글쓴이</td>
            <td>내용</td>
            <td>날짜</td>
            <td>좋아요</td>
            <td>조회수</td>
        </tr>
        {% for item in result %}
        <tr>
            <td>{{item.dataValues.numbering}}</td>
            <td><a href ="/board/view?id={{item.dataValues.id}}&vister=">{{item.dataValues.subject}}</a></td>
            <td>{{item.dataValues.userid}}</td>
            <td>{{item.dataValues.content}}</td>
            <td>{{item.dataValues.date}}</td>
            <td>{{item.dataValues.like}}</td>            
            <td>{{item.dataValues.hit}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href = "/board/write"> 글쓰기 </a>
    {% if login_flag!="0" %}   <!--비회원경우 로그아웃, 나의 정보보기 안보이게 -->
    <a href = "/user/info">나의 정보 보기</a> <br/>
    <a href = "/user/logout"> 로그아웃 </a> <br/>
    {% endif %}
</body>
</html>