{% include "../layout/top.html" %}

<div id="wrap">
    <div id="view_back">
        <div id="view_main">
            <div id="view_main_header">
                <form method="post" id="modify_form" action ="/board/view_after_modify"> 
                    <button type="submit" id="blocking_enter" style="display:none" disabled></button> <!--엔터치면 제목,내용없이 작성되는 것 방지-->
                    <input name="id" value="{{result.id}}" style="display:none"> <!--index번호-->
                <div id="view_writer">
                    writer : <span><input name="writer" value="{{result.userid}}" readonly></span>
                </div>
                <div id="view_hit_date">
                    <div id="view_hit">
                    hit :  <span><input name ="hit" value="{{hit}}" readonly > </span>
                    </div>
                    <div id="view_date">
                    date : <span><input name ="hit" value="{{date}}" readonly ></span> <!--추가-->
                    </div>
                </div>
            </div>
            <div id="view_main_content">
                <input id="modify_subject" type = "text" name ="modify_subject" value ="{{result.subject}}">
                <input id="modify_content" type = "textarea" name ="modify_content" value ="{{result.content}}">
            </div>
            <div id="view_btns">

                <button class="common_btn"><a href = "/board/main_board" >Cancel</a></button>
                <button class="common_btn" id ="btn"><a>Confirm</a></button>
            </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let btn = document.querySelector('#btn');
        btn.addEventListener('click',checking);

        let subject = document.querySelector('#modify_subject');
        let content = document.querySelector('#modify_content')

        function checking(){
            if(subject.value==''){
                alert('제목을 입력해주세요.')
            }else if (content.value==''){
                alert('내용을 입력해주세요.')
            }else{
                modify_form.submit();
            }
        }

    </script>    
{% include "../layout/bottom.html" %}
