{% include "../layout/top.html" %}
{% include "../layout/top2.html" %}
<div id="wrap">
    <div id="view_back">
        <div id="view_main">
            <div id="main_board_h1">
                <h1>modify</h1>
            </div>
            <div id="view_main_header">
                <form method="post" id="modify_form" action ="/board/view_after_modify"> 
                    <button type="submit" id="blocking_enter" style="display:none" disabled></button> <!--엔터치면 제목,내용없이 작성되는 것 방지-->
                    <input name="id" value="{{result.id}}" style="display:none"> <!--index번호-->
                <div id="view_writer">
                    Writer : <span><input class="modify_writer" name="writer" value="{{result.userid}}" readonly></span>
                    Subject : <input id="modify_subject" name ="modify_subject" value="{{result.subject}}">
                   
                </div>
                <div id="view_hit_date">
                    <div id="view_hit">
                    Hit :  <span  ><input  class="modify_hit" name ="hit" value="{{hit}}" readonly > </span>
                    </div>
                    <div id="view_date">
                    Date : <span ><input class="modify_date" name ="date" value="{{date}}" readonly ></span> <!--추가-->
                    </div>
                </div>
            </div>


            <textarea id="modify_content" name ="modify_content" >{{result.content}}</textarea>

            <div id="view_btns">

                <button class="common_btn"><a href = "/board/main_board" >Cancel</a></button>
                <button class="common_btn" id ="btn"><a>Confirm</a></button>
            </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let btn = document.querySelector('#btn');
        btn.addEventListener('click',checking);

        let subject = document.querySelector('#modify_subject');
        let content = document.querySelector('#modify_content')

        function checking(){
            if(subject.value==''){
                alert('제목을 입력해주세요.')
            }else if (content.value==''){
                alert('내용을 입력해주세요.')
            }else{
                modify_form.submit();
            }
        }

    </script>    
{% include "../layout/bottom.html" %}
