<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>

<body>
    <h2>view.html</h2>
    글쓴이 : <input type="text" id="userid" name="userid" value="{{userid}}" readonly><br />
    조회수 : <input type="number" id="hit" name="hit" value={{hit}} readonly><br/>
    제목 : <input type="text" name="write_subject" value="{{subject}}" readonly><br />
    내용 : <input type="textarea" name="write_content" value="{{content}}" readonly><br />
    <br />

    <button><a href="/board/main_board">메인으로 가기</a></button>
    <button><a id="modify" href="/board/modify?id={{id}}&hit={{hit}}">수정하기</a></button>
    <button><a id="remove" href="/board/remove?id={{id}}">삭제하기</a></button>

    <input type="hidden" name="boardid" id="boardid" value="{{id}}"> <!--게시판 글 INDEX 번호-->
    <input type="hidden" name="visiter" id="visiter" value="{{visiter}}"> <!--방문자 (로그인한 아이디)-->

    <div id="commentBox">
        <input type="text" id='comm_con' name="comm_con">
        <input type="button" id="comm_cancle" value="취소">
        <input type="button" id="comm_submit" value="댓글작성">
        <ul id=commentlist>
            <!--댓글 달리는 곳-->
        </ul>
    </div>
    <!-- ajax 셋팅 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script type="text/javascript">
        const content = document.querySelector('#comm_con'); //댓글textbox
        const boardid = document.querySelector('#boardid'); //id 
        const userid = 'monkey';   //?
        const comm_submit = document.querySelector('#comm_submit'); //댓글 작성 버튼 
        const commentBox = document.querySelector('#commentBox');
        const commentlist = document.querySelector('#commentlist'); //댓글 달리는 곳 

        //댓글 내용이 있을 때만 전송할 수 있게 만들기 
        async function post_comment() {

            let commentpost = await axios.post('http://localhost:3000/board/comment_post', {
                content: content.value,
                boardid: boardid.value,
                userid: userid,
            })

            while (commentlist.hasChildNodes()) { commentlist.removeChild(commentlist.firstChild); }

            //location.href = window.location.href;
            commentpost.data.commList.forEach(ele => {
                const li = document.createElement('li');
                const span_idx = document.createElement('span');
                const p_content = document.createElement('p');
                const span_date = document.createElement('span');

                span_idx.innerHTML = ele.useridx;
                p_content.innerHTML = ele.content;
                span_date.innerHTML = ele.date;

                li.appendChild(span_idx);
                li.appendChild(span_date);
                li.appendChild(p_content);

                commentlist.appendChild(li);
            });
        }
        comm_submit.addEventListener('click', post_comment);

        // 로그인한 id 본인만 글 수정, 삭제 가능 하도록 
        const modify = document.querySelector('#modify');
        const remove = document.querySelector('#remove');
        const visiter = document.querySelector('#visiter');
        const userid = document.querySelector('#userid');
        modify.addEventListener('click',()=>{
            if(visiter.value!=userid.value){
                alert('글 작성자만 수정할 수 있습니다.');
                modify.setAttribute('href','')
            }
        })
        remove.addEventListener('click',()=>{
            if(visiter.value!=userid.value){
                alert('글 작성자만 삭제할 수 있습니다.');
                remove.setAttribute('href','')
            }
        })

    </script>

</body>

</html>