{% include "../layout/top.html" %}
{% include "../layout/top2.html" %}

<div id="wrap">
    <div id="view_back">
        <div id="view_main">
            <div id="main_board_h1">
                <h1>View</h1>
            </div>
            <div id="view_main_header">
                <div id="view_writer">
                    Writer : <span id="userid" class="header_ltr forMargin" name="userid" readonly>{{userid}}</span>
                    Subject : <span id="view_subject" class="header_ltr" name="view_subject" readonly>{{subject}}</span>
                </div>
                <div id="view_hit_date">
                    <div id="view_hit">
                    Hit :  <span id="hit"  class="header_hit" name="hit" readonly>{{hit}}</span>
                    </div>
                    <div id="view_date">
                    Date : <span id="date"  class="header_date" name="date"  readonly>{{date}}</span> <!--추가-->
                    </div>
                </div>
            </div>
            <textarea id="view_main_content" readonly>
                {{content}} 
            </textarea>
            <div id="view_btns">
                <button class="common_btn"><a id="mainBtn" href="/board/main_board">Main page</a></button>
                <button class="common_btn"><a  id="modify" href="/board/modify?id={{id}}&hit={{hit}}">Modify</a></button>
                <button class="common_btn"><a id="remove" href="/board/remove?id={{id}}">Delete</a></button>
            </div>
        </div>
    </div>
    <div id="view_comment_back">
        <div id="view_comment_center">
            <div id="commentBox">
                <!-- 여기에도 유저 이미지 넣어줘야함 -->
                <textarea  id="comm_content"></textarea>
                <input class="comment_btn" type="button" id="comm_cancle" value="Cancel">
                <input class="comment_btn" type="button" id="comm_submit" value="confirm">
            </div>
            <ul id=commentlist>
                <!--댓글 달리는 곳-->
            </ul>
        </div>
    </div>
    <!--H I D D E N -->
    <input type="hidden" name="boardid" id="boardid" value="{{id}}">    <!--게시판 글 INDEX 번호-->
    <input type="hidden" name="visiter" id="visiter" value="{{visiter}}"> <!--방문자 (로그인한 아이디)-->
    <input type="hidden" id="userid_2" value="{{userid}}"> <!--방문자 (로그인한 아이디)-->

</div>
    <!-- ajax 셋팅 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script type="text/javascript">

        //로그인한 id 본인만 글 수정, 삭제 가능 하도록 
        const modify = document.querySelector('#modify');
        const remove = document.querySelector('#remove');
        const visiter = document.querySelector('#visiter'); //로그인한 userid
        const userid = document.querySelector('#userid');  //글쓴이 

        modify.addEventListener('click', () => {
            console.log(visiter.value, '+++++++++++++++++++', userid_2.value)
            if (visiter.value != userid_2.value) {
                alert('글 작성자만 수정할 수 있습니다.');
                modify.setAttribute('href', '')
            }
        })
        remove.addEventListener('click', () => {
            if (visiter.value != userid_2.value) {
                alert('글 작성자만 삭제할 수 있습니다.');
                remove.setAttribute('href', '')
            }
        })



    // 시간 남으면 할 것. 
    //삭제 레이어 팝업으로 바꾸기. 
    //댓글 수정 시 '수정됨' 표시 -> 데이터베이스 boolean 필드 추가? or 프로미스 객체 안에 있는 값 사용.
    //답글에 답글 달 때, a태그 걸어서 회원정보로 이동하게 하기 
    // 댓글에 userid, userimage a태그에 넣어서 회원정보로 이동하게하기.  


    ////////    댓글 영역 //////////////////// 

    //댓글영역세 사용될 전역변수 
    const content = document.querySelector('#comm_content'); //댓글입력내용
    const boardid = document.querySelector('#boardid');        //게시판 번호
    const comm_submit = document.querySelector('#comm_submit'); //제출버튼 
    const commentlist = document.querySelector('#commentlist'); //댓글 영역. 

    

    async function comment_init(){
        let comment = await axios.post('http://3.36.230.95/board/comment_post', {
                boardid: boardid.value,
            })
        comment_show(comment);
    }

    //댓글 작성시. 데이터베이스 업데이트 및 작성된 댓글 보여주기. 
    async function comment_create(event) {
        if (content.value != '') {
            let comment = await axios.post('http://3.36.230.95/board/comment_post', {
                content: content.value,
                boardid: boardid.value,
            })
            content.value = '';
            comment_show(comment);
        }
    }

    //댓글 추가 클릭이벤트 
    comm_submit.addEventListener('click', comment_create);

    //댓글영역에 대한 클릭이벤트를 설정. 
    const subBtnarea = document.querySelector('#commentlist');
    subBtnarea.addEventListener('click', testReplaywrite);
    async function testReplaywrite(event) {
        
        //수정삭제 버튼을 눌렀을 때,  수정버튼과 삭제버튼을 만들어줌 한번더 누르면 수정,삭제 버튼이 없어짐
        if (event.path[0].className == "comment_actionBtn" || event.path[0].className == "reply_actionBtn") {
            const comment_action = event.path[0].parentNode;

            if (comment_action.childNodes.length == 1) {
                    const updateBtn = document.createElement('input');
                    const deleteBtn = document.createElement('input');
                    updateBtn.setAttribute('type', 'button');
                    updateBtn.setAttribute('value', '수정');
                    updateBtn.setAttribute('class', 'updateBtn');
                    deleteBtn.setAttribute('type', 'button');
                    deleteBtn.setAttribute('value', '삭제');
                    deleteBtn.setAttribute('class', 'deleteBtn');
                    comment_action.appendChild(updateBtn);
                    comment_action.appendChild(deleteBtn);
            } else {
                comment_action.removeChild(comment_action.childNodes[2]);
                comment_action.removeChild(comment_action.childNodes[1]);
            }
        }
        //댓글 삭제하기  
        if (event.path[0].className == "deleteBtn") {
            const commentid = event.path[0].parentNode.previousSibling.firstChild.value;
            let comment_delete = confirm("댓글을 완전히 삭제할까요?");
            if (comment_delete == true) {
                let comment = await axios.post('http://3.36.230.95/board/destroy_comment', {
                    commentid: commentid,
                    boardid: boardid.value,
                })
                let isMaster = comment.data.isMaster;  
                if (isMaster == 0) {
                    comment_show(comment);
                } else {
                    replyShow(comment);
                }
            }
        }

        //댓글 수정하기 1 
        if (event.path[0].className == "updateBtn") {

            const comment_action = event.path[0].parentNode;
            comment_action.firstChild.style.display='none'
            const comment_box = event.path[0].parentNode.parentNode.childNodes[1];
            const comment_content = event.path[0].parentNode.parentNode.childNodes[1].childNodes[3];
            const updateBox = document.createElement('div');
            updateBox.setAttribute('class','updateBox');
            const previous_content = document.createElement('input');
            const update_content = document.createElement('input');
            if(event.path[0].parentNode.parentNode.className=='comment'){
                update_content.setAttribute('class','comment_input');
            }else{
                update_content.setAttribute('class','reply_input');
            }

            const update_cancle = document.createElement('input');
            const update_submit = document.createElement('input');
            update_content.setAttribute('type', 'textarea');
            update_content.setAttribute('value', comment_content.innerHTML);
            update_cancle.setAttribute('type', 'button');
            update_cancle.setAttribute('value', '취소');
            update_cancle.setAttribute('class', 'update_cancle');
            update_submit.setAttribute('type', 'button');
            update_submit.setAttribute('class', 'update_submit');
            update_submit.setAttribute('value', '수정');
            previous_content.setAttribute('type', 'hidden');
            previous_content.setAttribute('value', comment_content.innerHTML);
            updateBox.appendChild(update_content);
            updateBox.appendChild(update_cancle);
            updateBox.appendChild(update_submit);
            updateBox.appendChild(previous_content);
            comment_box.replaceChild(updateBox, comment_content);
            comment_action.removeChild(comment_action.childNodes[2]);
            comment_action.removeChild(comment_action.childNodes[1]);
        }

        //댓글 수정하기 2 수정취소 버튼 
        if (event.path[0].className == "update_cancle") {
            const comment_box = event.path[0].parentNode.parentNode;
            comment_box.nextSibling.firstChild.style.display='block'
            const previous_content = event.path[0].parentNode.lastChild;
            const updateBox = event.path[0].parentNode;
            const comment_content = document.createElement('pre');
            if(event.path[0].parentNode.parentNode.className=='comment_box'){
                comment_content.setAttribute('class','comment_content');
            } else{
                comment_content.setAttribute('class','reply_content');
            }
            comment_content.innerHTML = previous_content.value;
            comment_box.replaceChild(comment_content, updateBox);
        }

        //댓글 수정하기 3 수정확인 버튼  
        if (event.path[0].className == "update_submit") {
            const comment_box = event.path[0].parentNode.parentNode;
            comment_box.nextSibling.firstChild.style.display='block'
            const updateBox = event.path[0].parentNode;
            const comment_id = event.path[0].parentNode.parentNode.childNodes[0].value;
            const update_content = event.path[0].parentNode.firstChild.value;

            let update_comment = await axios.post('http://3.36.230.95/board/update_comment', {
                content: update_content,
                comment_id: comment_id,
            })
            const comment_content = document.createElement('pre');
            comment_content.setAttribute('class', 'comment_content');
            comment_content.innerHTML = update_comment.data.updatedOne.content;
            comment_box.replaceChild(comment_content, updateBox);
        }
        // 댓글:답글쓰기 누르면 답글입력창 보여주는 부분 
        if (event.path[0].className == "reply_makeBtn") {
            event.path[0].parentNode.childNodes[5].style.display = "block";
        }
        //댓글: 답급 취소 누르면 답글 취소 입력창 사리지는 부분. 
        if (event.path[0].className == "reply_cancle") {
            event.path[0].parentNode.style.display = "none";
        }
        // 답글:답글쓰기 누르면 답글입력창 보여주는 부분 
        if (event.path[0].className == 'reply_reply_makeBtn') {
            event.path[0].parentNode.lastChild.style.display = "block"
        }
        //답글: 답급 취소 누르면 답글 취소 입력창 사리지는 부분. 
        if (event.path[0].className == "reply_reply_cancle") {
            event.path[0].parentNode.style.display = "none";
        }


        //답글: 답글보기 버튼을 누르면 답글을 보여주고 답글 숨기기로 바뀌게 하기.  답글 숨기기 누르면 답글 숨기고 답글 보기로 바꾸기 
        if (event.path[0].className == 'reply_show') {
            let master_comment = event.path[0].parentNode.firstChild.value; 
            let reply = await axios.post('http://3.36.230.95/board/reply_post', {
                boardid: boardid.value,
                master_comment: master_comment,
            })
            replyShow(reply); 
        } else if (event.path[0].className == 'reply_hide') {
            const replyList = event.path[0].nextSibling;
            let numberOfReply = replyList.childNodes.length;
            while (replyList.hasChildNodes()) { replyList.removeChild(replyList.firstChild); }
            event.path[0].value = `답글 ${numberOfReply}개 보기`
            event.path[0].className = 'reply_show'
        }

        //댓글에 답글을 달때: 답글을 Comment 데이터베이스에 입력하고 받아와서,해당 댓글의 답글을 전부 뿌려주는 부분.
        if (event.path[0].className == 'reply_write' && event.path[0].parentNode.childNodes[0].value != '') {
            const reply_content = event.path[0].parentNode.childNodes[0].value;
            const master_comment = event.path[0].parentNode.parentNode.childNodes[0].value;
            const comment_box = event.path[0].parentNode.parentNode;

            let replyList;
            let reply_showBtn;
            if (comment_box.childNodes.length == 8) {  //이미 답글 보기 버튼이 있을 때는 있던 노드의 이름만 바꿔준다. 
                replyList = comment_box.lastChild;
                reply_showBtn = replyList.previousSibling;
                reply_showBtn.setAttribute('type', 'button');
                reply_showBtn.setAttribute('value', `답글 숨기기`);
                reply_showBtn.setAttribute('class', 'reply_hide');
                while (replyList.hasChildNodes()) { replyList.removeChild(replyList.firstChild); }
            } else {
                if (comment_box.childNodes.length == 7) {   // 답글이 없다면 답글보기버튼을 삭제 
                    comment_box.removeChild(comment_box.lastChild);
                }
                //최초에 댓글에 답글이 달려있지 않은 경우. 아래 요소를 추가해줘야함. 
                reply_showBtn = document.createElement('input');
                replyList = document.createElement('ul');
                reply_showBtn.setAttribute('type', 'button');
                reply_showBtn.setAttribute('value', `답글 숨기기`);
                reply_showBtn.setAttribute('class', 'reply_hide');
                comment_box.appendChild(reply_showBtn);
                comment_box.appendChild(replyList);
            }

            let reply = await axios.post('http://3.36.230.95/board/reply_post', {
                content: reply_content,
                boardid: boardid.value,
                master_comment: master_comment,
            })
            replyShow(reply); 
            event.path[0].parentNode.childNodes[0].value = '';
            event.path[0].parentNode.style.display = "none";
        }

        //답글에 답글을 달 때: 답글 내용이 있다면 데이터베이스에 입력하고 받아와서,해당 댓글의 답글을 전부 뿌려주는 부분.
        if (event.path[0].className == 'reply_reply_write' && event.path[0].parentNode.childNodes[0].value != '') {
            const reply_content = event.path[0].parentNode.childNodes[0].value;
            const comment_id = event.path[0].parentNode.parentNode.childNodes[1].innerHTML;//답글의 대상이 되는 사람의 id
            const replyList = event.path[0].parentNode.parentNode.parentNode.parentNode;//ul
            const master_comment = event.path[0].parentNode.parentNode.parentNode.parentNode.parentNode.firstChild.value

            let reply = await axios.post('http://3.36.230.95/board/reply_post', {
                content: reply_content,
                boardid: boardid.value,
                master_comment: master_comment,
                comment_id: comment_id,
            })
            event.path[0].parentNode.childNodes[0].value = '';
            replyShow(reply);
        }
    }

    async function comment_show(comment) { //objArray 객체를 담은 배열. 
        let comment_set = comment.data.commList; 
        let visitor = comment.data.useridx; 

        while (commentlist.hasChildNodes()) { commentlist.removeChild(commentlist.firstChild); }
            //댓글 갱신하기 위해 기존에 댓글있다면  전부 삭제합니다.
            
            comment_set.forEach(ele => {
            //createElement로 html요소를 만들어서 appendChild로 조립합니다. 
            // 클릭이벤트.css 적용시 사용할 class도 정해줍니다. 

                const li = document.createElement('li');
                li.setAttribute('class','comment');

                // 댓글 작성자의 image를 담는 공간. 
                const imageBox = document.createElement('div');
                imageBox.setAttribute('class','imageBox');
                const img = document.createElement('img');
                img.setAttribute('src', `http://3.36.230.95/${ele.User.userimage}`);
                imageBox.appendChild(img);
                
                //작성자idx, 작성자 아이디, 작성일. 댓글 내용, 각종 버튼, 답글을 담는 공간. 
                const comment_box = document.createElement('div');
                comment_box.setAttribute('class','comment_box');

                //각 댓글마다 고유한 id가 있습니다.  수정/삭제 시, 이 값과 일치하는 레코드에 접근합니다. 
                const commentid = document.createElement('input');
                commentid.setAttribute('type', 'hidden');
                commentid.setAttribute('value', `${ele.id}`);

                //작성자 id
                const comment_userid = document.createElement('span');
                comment_userid.setAttribute('class','comment_userid');
                comment_userid.innerHTML = ele.User.userid;

                //작성일 
                const comment_date = document.createElement('span');
                comment_date.setAttribute('class','comment_date');
                comment_date.innerHTML = ele.date;

                //댓글 내용 
                const comment_content = document.createElement('pre');
                comment_content.setAttribute('class','comment_content');
                comment_content.innerHTML = ele.content;

                //답글쓰기 버튼 
                const reply_makeBtn = document.createElement('input');
                reply_makeBtn.setAttribute('type', 'button');
                reply_makeBtn.setAttribute('value', '답글쓰기');
                reply_makeBtn.setAttribute('class', 'reply_makeBtn');

                //답글을 입력받는 부분:  답글쓰기 버튼을 누르지 않으면 보이지 않음. 
                const reply_maker = document.createElement('div');
                reply_maker.setAttribute('class','reply_maker');
                reply_maker.style.display = 'none';

                const reply_input = document.createElement('textarea');
                reply_input.setAttribute('class', 'reply_input');
                reply_input.setAttribute('placeholder', '공개 답글 추가');

                // 답글 쓰기 취소 버튼 
                const reply_cancle = document.createElement('input');
                reply_cancle.setAttribute('type', 'button');
                reply_cancle.setAttribute('value', '취소');
                reply_cancle.setAttribute('class', 'reply_cancle');

                //답글 쓰기 버튼 
                const reply_write = document.createElement('input');
                reply_write.setAttribute('type', 'button');
                reply_write.setAttribute('value', '등록');
                reply_write.setAttribute('class', 'reply_write');
                

                comment_box.appendChild(commentid);
                comment_box.appendChild(comment_userid);
                comment_box.appendChild(comment_date);
                comment_box.appendChild(comment_content);
                comment_box.appendChild(reply_makeBtn);
                comment_box.appendChild(reply_maker);
                reply_maker.appendChild(reply_input);
                reply_maker.appendChild(reply_cancle);
                reply_maker.appendChild(reply_write);

                //만약에 답글이 있는 댓글이 있다면  버튼과, ul을 추가합니다. ul에는 이 댓글에 대한 답글li가 담기게 됩니다. 
                if (ele.reply_count > 0) {
                    const reply_showBtn = document.createElement('input');
                    const replyList = document.createElement('ul');
                    reply_showBtn.setAttribute('type', 'button');
                    reply_showBtn.setAttribute('value', `답글 ${ele.reply_count}개 보기`);
                    reply_showBtn.setAttribute('class', 'reply_show');
                    comment_box.appendChild(reply_showBtn);
                    comment_box.appendChild(replyList);
                }
                
                //수정삭제 박스 만들기 
                //로그인한 계정과 댓글 작성 계정이 일치할 때만 수정/삭제 버튼을 만들어 줍니다.
                const comment_action = document.createElement('div');
                comment_action.setAttribute('class','comment_action');

                if (visitor == ele.useridx) { 
                    const comment_actionBtn = document.createElement('input');
                    comment_actionBtn.setAttribute('type', 'button');
                    comment_actionBtn.setAttribute('value', '수정삭제');
                    comment_actionBtn.setAttribute('class', 'comment_actionBtn');
                    comment_action.appendChild(comment_actionBtn);
                }
                

                li.appendChild(imageBox);
                li.appendChild(comment_box);
                li.appendChild(comment_action);
                commentlist.appendChild(li);
            });
    }

    async function replyShow(reply) {
        let replyBox;
        commentlist.childNodes.forEach((ele)=>{
            if(ele.childNodes[1].firstChild.value==reply.data.master){
                replyBox= ele.childNodes[1].lastChild; 
            }
        })

        let reply_set = reply.data.replyList; 
        let visitor = reply.data.useridx; 
        while (replyBox.hasChildNodes()) { replyBox.removeChild(replyBox.firstChild); }
        if (reply_set.length == 0) {
            replyBox.previousSibling.parentNode.removeChild(replyBox.previousSibling);
        } else {
            
            reply_set.forEach((ele) => {
                const li = document.createElement('li');
                li.setAttribute('class','reply');

                const imageBox = document.createElement('div');
                imageBox.setAttribute('class','reply_imageBox');
                const img = document.createElement('img');
                img.setAttribute('src', `http://3.36.230.95/${ele.User.userimage}`);
                imageBox.appendChild(img);

                const comment_box = document.createElement('div');
                comment_box.setAttribute('class','reply_box');
                const comment_userid = document.createElement('span');
                const comment_date = document.createElement('span');
                const comment_content = document.createElement('pre');
                comment_userid.setAttribute('class','reply_userid');
                comment_date.setAttribute('class','reply_date');
                comment_content.setAttribute('class','reply_content');

                const reply_makeBtn = document.createElement('input');
                const reply_maker = document.createElement('div');
                reply_maker.setAttribute('class','reply_reply_maker');
                const reply_input = document.createElement('textarea');
                const reply_cancle = document.createElement('input');
                const reply_write = document.createElement('input');

                const comment_action = document.createElement('div');
                comment_action.setAttribute('class','reply_action');
                if (visitor == ele.useridx) {
                    const comment_actionBtn = document.createElement('input');
                    comment_actionBtn.setAttribute('type', 'button');
                    comment_actionBtn.setAttribute('value', '수정삭제');
                    comment_actionBtn.setAttribute('class', 'reply_actionBtn');
                    comment_action.appendChild(comment_actionBtn);
                }
                //댓글 idx 나타내는 부분. 
                const commentid = document.createElement('input');
                commentid.setAttribute('type', 'hidden');
                commentid.setAttribute('value', `${ele.id}`);
                comment_box.appendChild(commentid);


                comment_userid.innerHTML = ele.User.userid;
                comment_date.innerHTML = ele.date;
                comment_content.innerHTML = ele.content;
                reply_makeBtn.setAttribute('type', 'button');
                reply_makeBtn.setAttribute('value', '답글쓰기');
                reply_makeBtn.setAttribute('class', 'reply_reply_makeBtn');
                reply_maker.style.display = 'none';
                reply_input.setAttribute('class', 'reply_reply_input');
                reply_input.setAttribute('placeholder', '공개 답글 추가');
                reply_cancle.setAttribute('type', 'button');
                reply_cancle.setAttribute('value', '취소');
                reply_cancle.setAttribute('class', 'reply_reply_cancle');
                reply_write.setAttribute('type', 'button');
                reply_write.setAttribute('value', '등록');
                reply_write.setAttribute('class', 'reply_reply_write');

                comment_box.appendChild(comment_userid);
                comment_box.appendChild(comment_date);
                comment_box.appendChild(comment_content);
                comment_box.appendChild(reply_makeBtn);
                comment_box.appendChild(reply_maker);
                reply_maker.appendChild(reply_input);
                reply_maker.appendChild(reply_cancle);
                reply_maker.appendChild(reply_write);

                li.appendChild(imageBox);
                li.appendChild(comment_box);
                li.appendChild(comment_action);
                replyBox.appendChild(li);
    
            });
            replyBox.previousSibling.value = '답글숨기기'
            replyBox.previousSibling.className = 'reply_hide'
        }
    }

//Execution
    comment_init();

</script>

{% include "../layout/bottom.html" %}

