{% include "../layout/top.html" %}
{% include "../layout/top2.html" %}


<div id="wrap">
    <div id="view_back">
        <div id="view_main">
            <div id="main_board_h1">
                <h1>Write</h1>
            </div>
            <div id="view_main_header">
                
                <form id = "write_form" method="post" action ="/board/view_after_write"> 
                <button type="submit" id="blocking_enter" style="display:none" disabled></button> <!--엔터치면 제목,내용없이 작성되는 것 방지-->
                
                <div id="view_writer">
                    Subject : <span><input id="write_subject" type = "text" name ="write_subject"></span>
                    <p id="subject_msg"></p>
                </div>
            </div>

                <textarea id="view_main_content" name ="write_content"></textarea>
                        <p id="content_msg"></p>

            <div id="view_btns">
                <button class="common_btn"><a href = "/board/main_board" >Cancel</a></button>
                <button class="common_btn"><a id="btn">Confirm</a></button>
            </div>
            </form>
        </div>
    </div>
</div>

    <script type="text/javascript">
        
        let btn=document.querySelector('#btn');
        btn.addEventListener('click',checking);

        let write_subject=document.querySelector('#write_subject');
        let write_content=document.querySelector('#write_content');
        let write_form=document.querySelector('#write_form');
        write_subject.focus();

        function checking(){
            if(write_subject.value==''){
                alert('제목을 입력해주세요');
                write_subject.setAttribute('style','background:#FFC8C8')
                wrtie_subject.focus();
            }else if(write_content.value==''){
                alert('내용을 입력해주세요.')
                write_subject.setAttribute('style','background:#FFC8C8')
                wrtie_subject.focus();
            }else{
                write_form.submit();
            }
        }
        write_subject.addEventListener('focusout', ()=>{
            if(write_subject.value!=''){
                write_subject.setAttribute('style','background:#D2F4FF')
            }
        })
        write_content.addEventListener('focusout', ()=>{
            if(write_content.value!=''){
                write_content.setAttribute('style','background:#D2F4FF')
            }
        })

    </script>


{% include "../layout/bottom.html" %}







